html {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}
h1 {
  color: grey;
}

.main-container {
  width: 750px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  padding: 24px;
  border-radius: 5px;
}

p {
  text-align: left;
}
